/* COLOR PALLETTE (From: https://coolors.co) */
/* RED = "#C1292E"
# RED = "#e83151"
BLUE = "#235789"
# BLUE = "#387780"
YELLOW = "#F1D302"
# YELLOW = "#d2cca1"
WHITE = "#FDFFFC"
# OFFWHITE = "#dbd4d3"
BLACK = "#161925"
# BLACK = "#757780"
CARD_WHITE = "#dbd4d3" */

html{
    background-color: #2c2d30;
    cursor: url('/images/cursor3.png'),pointer;
}
header{
    color: #C1292E;
    font-size: 1.99em;
    font-family: 'Staatliches', sans-serif; 
    MARGIN: 0PX;
}


#wordGrid {
    margin-top: auto;
    margin:auto;
    /* max-width: 700px; */
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card{
    height: auto;
    align-items: center;
    align-content: center;
    text-align: center;

    min-height: 1.99em;
    background-color: #dbd4d3;
    color:#161925;
    border:#dbd4d3;

    border-radius: 8px;
    font-size: 1.72em;

    font-weight: 600;
    font-family: 'Staatliches', sans-serif;
}

.navWrapper{
    align-items: right;
}
.navWrapper a{
    height: auto;
    align-items: center;
    align-content: center;
    text-align: center;

    min-height: 1.99em;
    background-color: #dbd4d3;
    color:#161925;
    border:#dbd4d3;

    border-radius: 8px;
    font-size: 1.72em;

    font-weight: 600;
    font-family: 'Staatliches', sans-serif;
}
